.login-section {
    justify-content: center;
    align-items: flex-start;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.signup-form {
    width: auto;
}

.form-field {
    width: 400px;
}

.signup-heading {
    align-content: center;
    margin-top: 200px;
}